

h2 {
  text-align: center;
  width: 90%; 
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


.categories-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.categories-list-header {
  width: 100%;
}

.categories-list-item {
  list-style: none;
  max-width: 400px;
  background-color: #5555aa;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  margin: 5px;
}

.post-container { 
  width: 90%; 
  max-width: 700px; 
  margin: auto;
  background-color: #a3a3a3;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-container {
  margin: auto;
  background-color: #eee;
}

.comment-list {
  width: 100%;
  padding: 0;
  list-style: none;
}
