body {
  background-color: #dfdfdf;
}

h2 {
  text-align: center;
  width: 90%; 
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  font-size: 15px;
  width: 100%; 
  text-align: center;
  margin: 0 auto 0 auto;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.categories-list-header {
  width: 100%;
}

.categories-list-item {
  list-style: none;
  max-width: 400px;
  background-color: #5555aa;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  margin: 5px;
}

.post-container { 
  width: 90%; 
  max-width: 700px; 
  margin: auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.comment-container {
  margin: auto;
  background-color: #eee;
  margin-bottom: 2px;
}

.comment-content {
  width: calc(90% - 10px);
  float: right;
  padding: 5px;
  font-size: 14px;
}

.comment-author {
  font-weight: bold;
}

.comment-list {
  width: 100%;
  padding: 0;
  list-style: none;
}

.comment-input {
  width: calc(100% - 6px);
  height: 20px; 
  border-radius: 10px;
  border: 1px solid #ddd;
}

.post-footer {
  width: 100%;
}

.post-header {
  width: 100%;
}

.post-info {
  width: auto;
  background-color: #fff;
  font-size: 14px;
  padding: 5px;
}

.post-date,
.comment-date {
  color: #444;
  font-size: 12px;
  font-weight: normal;
}

.comment-date {
  float: right;
  width: calc(50% - 10px);
  padding: 5px;
  text-align: right;
}

.post-interact, 
.comment-interact {
  font-size: 13px;
  padding: 5px;
  font-size: 12px;
  color: #444;
  margin: 0;
  width: calc(50% - 10px);
}

.post-main-info {
  padding: 5px 0 0 5px;
  margin: 0;
  float: right;
  font-weight: bold;
  width: calc(85% - 5px);
}

.comment-footer {
  display: flex;
  flex-wrap: wrap;
}

.post-complement-info {
  font-weight: normal;
}

.post-avatar {
  border-radius: 50%;
  width: 15%;
  height: auto;
}

.comment-avatar {
  border-radius: 50%;
  width: 10%;
}

.post-content {
  width: calc(100%);
  max-width: 650px;
  float: right;
  margin-right: 0;
  background-color: #fff;
  font-size: 14px;
}

.post-content p {
  padding-left: 5px;
}

.post-footer {
  background-color: #fff;
}

.post-footer span {
  margin-right: 10px;
}

.comment-footer span {
  margin-right: 10px;
}